# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/
media/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log
